coverage
node_modules
unmaintained/rollup-plugin-vue-i18n/examples/global/index.js
unmaintained/rollup-plugin-vue-i18n/examples/composition/index.js
unmaintained/vite-plugin-vue-i18n/examples/dist
packages/unplugin-vue-i18n/examples/**/dist
.DS_Store
lib
*.log
*.swp
*~
.vscode
examples/**/dist
.env
.idea
.yarn/*
!.yarn/releases
!.yarn/plugins
*.tgz
